<div class="search">
  <input
    class="search__input"
    [(ngModel)]="search"
    type="text"
    name="search"
    placeholder="Type in search"
  />

  <svg
    *ngIf="search.length == 0"
    xmlns="http://www.w3.org/2000/svg"
    class="search__svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M21 21l-6-6m2-5a7 7 0 11-14 0 7 7 0 0114 0z"
    />
  </svg>

  <svg
    *ngIf="search.length > 0"
    (click)="clearSearch()"
    xmlns="http://www.w3.org/2000/svg"
    class="search__svg"
    fill="none"
    viewBox="0 0 24 24"
    stroke="currentColor"
    stroke-width="2"
  >
    <path
      stroke-linecap="round"
      stroke-linejoin="round"
      d="M6 18L18 6M6 6l12 12"
    />
  </svg>
</div>
