.search {
  position: relative;

  &:hover > input {
    border-color: #13867b;
  }

  &__input {
    padding: 13px 22px;
    background-color: #f3f3f3;
    border: 1px solid #bcbcbc;
    font-size: 15px;
    border-radius: 999px;

    &:focus {
      border-color: #13867b;
    }

    &::placeholder {
      color: #bcbcbc;
    }
  }

  &__svg {
    cursor: pointer;
    position: absolute;
    width: 22px;
    height: 22px;
    top: 50%;
    color: #13867b;
    transform: translateY(-50%);
    right: 25px;
  }
}
