.igloo-button {
  display: block;
  background: #dadada;
  padding: 12px 22px;
  font-size: 15px;
  border-radius: 100px;
  text-transform: uppercase;
  color: #555555;
  border: 2px solid #dadada;
  cursor: pointer;
  transition: all 0.2s linear 0s;
  outline: none;

  &--green {
    background-color: #00c99d;
    border: 2px solid #00c99d;
    color: #ffffff;
  }
  &--dark-green {
    background-color: #159281;
    border: 2px solid #159281;
    color: #ffffff;
    transition: all 0.3s linear;
  }
  &--dark-green:hover {
    background-color: #13867b;
    border-color: #13867b;
  }

  &:disabled {
    opacity: 0.4;
    cursor: not-allowed;
  }
}

.igloo-button--block {
  display: block;
}
.igloo-button--flex {
  display: flex;
}
.igloo-button--inline-flex {
  display: inline-flex;
}
.igloo-button--flex,
.igloo-button--inline-flex {
  align-items: center;
  gap: 4px;
}
.igloo-button--full {
  width: 100%;
}

@for $var from 50 to 301 {
  .igloo-button--w-#{$var}px {
    width: #{$var}px;
  }
}
