// ui login leftside
.igloo-ui-login {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;

  &__svg {
    fill: #fff;
    width: 100% !important;

    // md
    @media only screen and (min-width: 768px) {
      fill: #00263f;
    }
  }

  &__title {
    margin-top: 30px;
    font-weight: 900;
    white-space: nowrap;
    text-transform: uppercase;
    font-size: 30px;
    color: #fff;
    display: none;

    // md
    @media only screen and (min-width: 768px) {
      color: #00263f;
      display: block;
    }
  }
}

// ui error box
.igloo-ui-error-box {
  background: #f5dada;
  padding: 10px 10px;
  border-radius: 6px;
  align-items: center;
  display: flex;
  gap: 10px;

  &__svg {
    width: 24px;
    height: 24px;
    color: #ea8558;
  }

  &__message {
    font-size: 15px;
    color: #555555;
    line-height: 0;
  }
}
