.breadcrumb {
  display: flex;
  align-items: center;

  &__link {
    color: #039c7b;
    font-size: 14px;
    cursor: pointer;
    overflow: hidden;
    white-space: nowrap;
    max-width: 200px;
    text-overflow: ellipsis;

    &:hover {
      text-decoration: underline;
    }
  }

  &__divider {
    margin: 0 10px;
    color: #039c7b;
  }
}
