// card overview
.card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  height: 86px;
  width: 144px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  background: #ffffff;
  transition: box-shadow 0.2s ease-in-out;

  &-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    gap: 30px;
  }

  &__title {
    font-size: 32px;
    color: #205171;
  }

  &__desc {
    font-size: 14px;
    text-transform: uppercase;
    color: #a6a6a6;
  }
}

// list overview
.list {
  overflow: auto;
  max-height: 350px;
  padding: 0 0;

  // sm
  @media only screen and (min-width: 640px) {
    padding: 0 12px;
  }

  &-wrapper {
    box-sizing: border-box;
    border-radius: 10px;
    box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
    background: #fff;
    padding: 26px 32px;

    // sm
    @media only screen and (min-width: 640px) {
      padding: 26px 20px;
    }
  }

  // header date and timezone
  &-header {
    display: flex;
    margin-bottom: 14px;
    justify-content: space-between;

    &__date {
      font-size: 14px;
      color: #7f7f7f;
    }
    &__timezone {
      font-size: 12px;
      color: #7f7f7f;
    }
  }

  // list item
  &-item {
    display: flex;
    align-items: center;
    gap: 10px;
    color: #1f1f1f;

    &--padding {
      padding-bottom: 15px;
    }

    &--border {
      border-bottom: 1px solid #e6e6e6;
    }

    &__avatar {
      background-color: #a8c1d2;
      width: 35px;
      height: 35px;
      padding: 7px;
      border-radius: 50%;
      box-sizing: border-box;
      color: #fff;
      z-index: 1;

      &--border {
        position: relative;

        &:before {
          content: "";
          position: absolute;
          bottom: 0;
          left: 50%;
          height: 100%;
          width: 2px;
          background-color: #a6a6a6;
          transform: translate(-50%, 100%);
          z-index: -1;
        }
      }

      svg {
        width: 100%;
        height: 100%;
        pointer-events: none;
      }
    }
  }
}
