<div class="content-scroll padding-content">
  <div class="margin-bottom-25px">
    <!-- breadcrumb -->
    <div class="margin-top-25px">
      <app-breadcrumb [data]="breadcrumbData"></app-breadcrumb>
    </div>

    <!-- card list -->
    <div class="card-wrapper margin-top-20px">
      <div class="card">
        <div class="card__title">14</div>
        <div class="card__desc text-bold">Locks</div>
      </div>
      <div class="card">
        <div class="card__title">171</div>
        <div class="card__desc text-bold">Properties</div>
      </div>
      <div class="card">
        <div class="card__title">151</div>
        <div class="card__desc text-bold">Departments</div>
      </div>
      <div class="card">
        <div class="card__title">408</div>
        <div class="card__desc text-bold">Users</div>
      </div>
    </div>

    <!-- title -->
    <div class="content-title">
      <div class="text-bold">{{util.translating('Overview')}}</div>
    </div>

    <!-- content -->
    <div class="list-wrapper">
      <div class="list custom-scrollbar">
        <div class="list-header">
          <div class="list-header__date text-bold">18 Jun 2022</div>
          <div class="list-header__timezone">Time zone: UTC+8</div>
        </div>
        <div class="list-item list-item--padding">
          <div class="list-item__avatar list-item__avatar--border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <div class="list-item__desc">
            # An Office Owner Account Login at 13:16
          </div>
        </div>
        <div class="list-item list-item--padding">
          <div class="list-item__avatar list-item__avatar--border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <div class="list-item__desc">
            # An Office Owner Account Login at 13:16
          </div>
        </div>
        <div class="list-item list-item--padding list-item--border">
          <div class="list-item__avatar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <div class="list-item__desc">
            # An Office Owner Account Login at 13:16
          </div>
        </div>

        <div class="list-header margin-top-15px">
          <div class="list-header__date text-bold">18 Jun 2022</div>
          <div class="list-header__timezone">Time zone: UTC+8</div>
        </div>
        <div class="list-item list-item--padding">
          <div class="list-item__avatar list-item__avatar--border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <div class="list-item__desc">
            # An Office Owner Account Login at 13:16
          </div>
        </div>
        <div class="list-item list-item--padding">
          <div class="list-item__avatar list-item__avatar--border">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <div class="list-item__desc">
            # An Office Owner Account Login at 13:16
          </div>
        </div>
        <div class="list-item">
          <div class="list-item__avatar">
            <svg
              xmlns="http://www.w3.org/2000/svg"
              fill="none"
              viewBox="0 0 24 24"
              stroke="currentColor"
              stroke-width="2"
            >
              <path
                stroke-linecap="round"
                stroke-linejoin="round"
                d="M16 7a4 4 0 11-8 0 4 4 0 018 0zM12 14a7 7 0 00-7 7h14a7 7 0 00-7-7z"
              />
            </svg>
          </div>
          <div class="list-item__desc">
            # An Office Owner Account Login at 13:16
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
