.overview__card {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 86px;
  width: 144px;
  box-shadow: 0 2px 4px 0 rgb(0 0 0 / 30%);
  background: #ffffff;
  transition: box-shadow 0.2s ease-in-out;
}
