<!-- breadcrumb -->
<app-breadcrumb [data]="breadcrumbData"></app-breadcrumb>

<!-- card list -->
<div class="card-wrapper margin-top-30px">
  <div class="card">
    <div class="card__title">14</div>
    <div class="card__desc text-bold">Locks</div>
  </div>
  <div class="card">
    <div class="card__title">171</div>
    <div class="card__desc text-bold">Properties</div>
  </div>
  <div class="card">
    <div class="card__title">151</div>
    <div class="card__desc text-bold">Departments</div>
  </div>
  <div class="card">
    <div class="card__title">408</div>
    <div class="card__desc text-bold">Users</div>
  </div>
</div>
