// top information
.top-info {
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.2s;
  font-size: 12px;
  z-index: 9999999;

  &__content {
    padding: 5px 20px;
    background: #111111;
    color: #ffffff;
    float: right;
  }

  &::before {
    content: "DEV MODE";
    padding: 5px 20px;
    background: #dadada;
    color: #333333;
    font-family: SofiaPro-bold !important;
    float: left;
  }

  &:hover {
    opacity: 0;
  }
}
