// top information
.top-info {
  position: fixed;
  top: 0;
  right: 0;
  transition: all 0.2s;
  font-size: 12px;
  z-index: 3;

  &__content {
    padding: 5px 20px;
    background: #111111;
    color: #ffffff;
    float: right;
  }

  &::before {
    content: "DEV MODE";
    padding: 5px 20px;
    background: #dadada;
    color: #333333;
    font-weight: bold;
    float: left;
  }

  &:hover {
    opacity: 0;
  }
}

// header
.header {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  top: 0;
  left: 0;
  right: 0;
  background-color: #083451;
  min-height: 70px;
  padding: 0 30px;
  z-index: 2;

  @media only screen and (min-width: 1024px) {
    justify-content: flex-start;
  }

  &__brand {
    width: 122px;

    img {
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
}

// sidebar
.sidebar {
  position: absolute;
  left: 0;
  bottom: 0;
  float: left;
  max-height: calc(100vh - 70px);
  display: none;
  flex-direction: column;
  height: 100%;
  width: 195px;
  background: #205171;
  color: #fff;
  z-index: 2;
  transition: left 0.3s ease-in-out;

  // lg
  @media only screen and (min-width: 1024px) {
    display: flex;
  }

  // sidebar closed
  &--hide {
    left: -170px;

    & > .sidebar__profile,
    & > .sidebar__menu,
    & > .sidebar__version {
      opacity: 0;
      visibility: 0;
    }
  }

  // sidebar btn toggle collapse
  &__collapse {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    width: 22px;
    height: 22px;
    padding: 1px;
    top: 40px;
    right: 0;
    cursor: pointer;
    z-index: 2;
    transform: translate(50%, -50%);
    border: 1px solid #929292;
    background: #fff;

    svg {
      width: 90%;
      height: 90%;
      fill: #205171;
      pointer-events: none;
    }
  }

  // sidebar profile
  &__profile {
    display: flex;
    align-items: center;
    gap: 10px;
    padding: 20px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    &-avatar[initial-name]::before {
      content: attr(initial-name);
      display: inline-block;
      font-size: 20px;
      width: 40px;
      height: 40px;
      line-height: 200%;
      text-align: center;
      border-radius: 50%;
      background: #aaaaaa;
      vertical-align: middle;
      text-transform: capitalize;
      color: #fff;
    }

    &-desc {
      display: flex;
      flex-direction: column;
      flex: 1;
      width: 100px;
      overflow: hidden;
      font-size: 14px;
      line-height: 150%;
      color: #fff;

      &-name {
        font-size: 14px;
        font-weight: bold;
        margin-bottom: -2px;
      }
    }
  }

  // sidebar menu
  &__menu {
    flex: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;

    /* Scroll */
    &::-webkit-scrollbar {
      width: 8px;
    }
    &::-webkit-scrollbar-thumb {
      background: #b2b2b2;
      border-radius: 10px;
    }
  }

  // sidebar version
  &__version {
    font-size: 14px;
    padding: 20px;
    transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
  }

  &__menu-link {
    position: relative;
    text-decoration: none;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    padding: 9px 20px;
    border-bottom: #999794 1px solid;
    transition: background-color 0.3s ease-in-out;

    &:hover {
      background-color: #19405a;
    }
    &:hover::before {
      opacity: 1;
      visibility: visible;
    }

    &::before {
      content: "";
      position: absolute;
      top: 0;
      left: 0;
      opacity: 0;
      visibility: hidden;
      height: 100%;
      width: 5px;
      background-color: #159281;
      transition: opacity 0.3s ease-in-out, visibility 0.3s ease-in-out;
    }

    &--active {
      background-color: #19405a;

      &::before {
        opacity: 1;
        visibility: visible;
      }
    }

    &--child {
      padding-left: 30px !important;
      border-bottom: none !important;
    }
  }
}

// right content
.content {
  position: absolute;
  right: 0;
  width: 100%;
  min-height: 100vh;
  height: 100%;
  float: right;
  transition: width 0.3s ease-in-out;
  z-index: 1;

  @media only screen and (min-width: 1024px) {
    width: calc(100% - 195px) !important;
  }

  &--expand {
    width: 100% !important;
    @media only screen and (min-width: 1024px) {
      width: calc(100% - 25px) !important;
    }
  }
}
