<div class="select-lang">
  <div class="select-lang-btn" (click)="toggleShow()">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="select-lang-btn__icon-left"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
      />
    </svg>
    <div class="select-lang-btn__name">English</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="select-lang-btn__icon-right"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </div>

  <div *ngIf="isOpen" class="popup">
    <div class="popup__body">
      <div class="popup__body__item">English</div>
      <div class="popup__body__item">中文(简体)</div>
      <div class="popup__body__item">한국</div>
      <div class="popup__body__item">Français</div>
      <div class="popup__body__item">Bahasa Indonesia</div>
    </div>
  </div>
</div>

<div class="select-lang select-lang--mobile">
  <div class="select-lang-btn select-lang-btn--mobile">
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="select-lang-btn__icon-left"
      fill="none"
      viewBox="0 0 24 24"
      stroke="currentColor"
      stroke-width="2"
    >
      <path
        stroke-linecap="round"
        stroke-linejoin="round"
        d="M21 12a9 9 0 01-9 9m9-9a9 9 0 00-9-9m9 9H3m9 9a9 9 0 01-9-9m9 9c1.657 0 3-4.03 3-9s-1.343-9-3-9m0 18c-1.657 0-3-4.03-3-9s1.343-9 3-9m-9 9a9 9 0 019-9"
      />
    </svg>
    <div class="select-lang-btn__name">Change Language</div>
    <svg
      xmlns="http://www.w3.org/2000/svg"
      class="select-lang-btn__icon-right select-lang-btn__icon-right--mobile"
      viewBox="0 0 20 20"
      fill="currentColor"
    >
      <path
        fill-rule="evenodd"
        d="M5.293 7.293a1 1 0 011.414 0L10 10.586l3.293-3.293a1 1 0 111.414 1.414l-4 4a1 1 0 01-1.414 0l-4-4a1 1 0 010-1.414z"
        clip-rule="evenodd"
      />
    </svg>
  </div>
</div>
