<div
  id="tableElements"
  class="table-wrapper relative"
  (scroll)="onScrollTableEvent.emit($event)"
>
  <table class="table">
    <thead id="headTable" class="table__head">
      <tr class="table-row text-bold">
        <th class="table__head-col">Department Name</th>
        <th class="table__head-col">Number of Properties</th>
        <th class="table__head-col">Number of Managers</th>
        <th class="table__head-col table--small-width">Status</th>
        <th class="table__head-col table--action-padding"></th>
      </tr>
    </thead>
    <tbody>
      <tr class="table-row">
        <td class="table__body-col">Visa - 3412</td>
        <td class="table__body-col">12</td>
        <td class="table__body-col">232</td>
        <td class="table__body-col table--small-width">Active</td>
        <td class="table__body-col table--action-padding">
          <!-- view button -->
          <app-igloo-button
            type="submit"
            id="loginButton"
            color="white"
            display="block"
            class="text-bold igloo-button--small"
          >
            {{ util.translating("View") }}
          </app-igloo-button>
        </td>
      </tr>
      <tr class="table-row">
        <td class="table__body-col">Visa - 6076</td>
        <td class="table__body-col">12</td>
        <td class="table__body-col">443</td>
        <td class="table__body-col table--small-width">Active</td>
        <td class="table__body-col table--action-padding">
          <!-- view button -->
          <app-igloo-button
            type="submit"
            id="loginButton"
            color="white"
            display="block"
            class="text-bold igloo-button--small"
          >
            {{ util.translating("View") }}
          </app-igloo-button>
        </td>
      </tr>
      <tr class="table-row">
        <td class="table__body-col">Corporate AMEX</td>
        <td class="table__body-col">12</td>
        <td class="table__body-col">181</td>
        <td class="table__body-col table--small-width">Active</td>
        <td class="table__body-col table--action-padding">
          <!-- view button -->
          <app-igloo-button
            type="submit"
            id="loginButton"
            color="white"
            display="block"
            class="text-bold igloo-button--small"
          >
            {{ util.translating("View") }}
          </app-igloo-button>
        </td>
      </tr>
      <tr class="table-row">
        <td class="table__body-col">Visa - 3412</td>
        <td class="table__body-col">12</td>
        <td class="table__body-col">842</td>
        <td class="table__body-col table--small-width">Active</td>
        <td class="table__body-col table--action-padding">
          <!-- view button -->
          <app-igloo-button
            type="submit"
            id="loginButton"
            color="white"
            display="block"
            class="text-bold igloo-button--small"
          >
            {{ util.translating("View") }}
          </app-igloo-button>
        </td>
      </tr>
      <tr class="table-row">
        <td class="table__body-col">Visa - 3412</td>
        <td class="table__body-col">12</td>
        <td class="table__body-col">232</td>
        <td class="table__body-col table--small-width">Active</td>
        <td class="table__body-col table--action-padding">
          <!-- view button -->
          <app-igloo-button
            type="submit"
            id="loginButton"
            color="white"
            display="block"
            class="text-bold igloo-button--small"
          >
            {{ util.translating("View") }}
          </app-igloo-button>
        </td>
      </tr>
      <tr class="table-row">
        <td class="table__body-col">Visa - 3412</td>
        <td class="table__body-col">12</td>
        <td class="table__body-col">$542</td>
        <td class="table__body-col table--small-width">Active</td>
        <td class="table__body-col table--action-padding">
          <!-- view button -->
          <app-igloo-button
            type="submit"
            id="loginButton"
            color="white"
            display="block"
            class="text-bold igloo-button--small"
          >
            {{ util.translating("View") }}
          </app-igloo-button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
